---
layout: default
---
<style>
    .blog-background-color
      {background-color: {{page.colors.background-color}};}

    .blog-hover-overlay:hover 
     {background-color: {{page.colors.blog-hover-overlay-color}};}

    .bump 
     {
     background-color: {{page.colors.blog-title-card-color}};
     border-top: solid 4px {{page.colors.blog-title-card-border-color}};
     border-left: solid 4px {{page.colors.blog-title-card-border-color}};
     }
    
    .border-top
    {
    border-top: 1px solid {{page.colors.categories-color}};  
    }

    .border-bottom
    {
    border-bottom: 1px solid {{page.colors.categories-color}};  
    }
    
    p
    {
    font-family: {{page.fonts.text-font}};
    color: {{page.colors.text-color}};
    }
  
        
    h2 
    {
    font-size: 3rem;
    font-family: {{page.fonts.heading-font}};
    color: {{page.colors.heading-color}};
    }
  
    h3 
    {
    font-size: 2rem;
    font-family: {{page.fonts.subheading-font}};
    color: {{page.colors.subheading-color}};
    }
    
    h5
    {
    font-size: 2rem;
    font-family: {{page.fonts.cta-font}};
    }

    .blog-hover-overlay:hover
    {
    color: {{page.colors.cta-color}};
    }

    .categories p
    {
    font-size: 1.3rem;
    font-family: {{page.fonts.categories-font}};
    color: {{page.colors.categories-color}};
    }

    .categories a:hover 
    {color: {{page.colors.categories-hover-color}};}
    
    .menu {
    display: flex;
    justify-content: space-between;
    border-top: solid 1.2px #dcd3cc;
    border-bottom: solid 1.2px #dcd3cc;
    padding: 10px;
  }

  .container {
  display: flex;
  justify-content: space-between; /* Distribute items evenly */
  width: 100%; /* Full width */
}

/* Apply styles to anchor elements */
.container a {
  text-decoration: none; /* Remove underline */
  color: #333; /* Text color */
  padding: 10px 30px; /* Adjust padding as needed */
}

  .dropdown {
    position: relative;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    min-width: 190px;
    top: 3.2rem;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  /* Style for sub-dropdowns */
  .sub-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 2;
    left: 100%;
    top: 0;
  }

  .sub-dropdown-content a {
   border-bottom: solid 1px {{page.colors.categories-color}};
  }
</style>

<section class="blog-background-color ">
  <section class="grid padded-top">
    <h2 class="brown-text col-12 center padded">{{page.heading}}</h2>
  </section>
<section class="grid  ">
  <div class="menu centered grid col-12 padded-sides">
    <div class="container grid">
      <div class="dropdown grid-middle">
        <a href="#" class="destinations"   data-target="CountryDropdown">Destinations</a>
        <div class="dropdown-content" id="CountryDropdown">
          
          <a href="/blog-categories/south-africa" class="" >South Africa 
            <span> <a href="#" class="countries-dropdown" data-target="SouthAfricaDropdown">︾</a></span>
          </a> 
          <div class=" sub-dropdown-content" id="SouthAfricaDropdown">
            <a href="/blog-categories/western-cape">Western Cape</a>
            <a href="/blog-categories/kwazulu-natal">KwaZulu Natal</a>
            <a href="/blog-categories/eastern-cape">Eastern Cape</a>
            <a href="/blog-categories/northern-cape">Northern Cape</a>
            <a href="/blog-categories/gauteng">Gauteng</a>
            <a href="/blog-categories/limpopo">Limpopo</a>
            <a href="/blog-categories/mpumalanga">Mpumalanga</a>
          </div>
          
          <a href="/blog-categories/thailand" class="">Thailand 
            <span> <a href="#" class="countries-dropdown" data-target="ThailandDropdown">︾</a></span></a> 
          </a>
          <div class=" sub-dropdown-content" id="ThailandDropdown">
            <a href="/blog-categories/northen-thailand">Northern Thailand</a>
            <a href="/blog-categories/southern-thailand">Southern Thailand</a>
          </div>

          <a href="/blog-categories/malaysia" class="">Malaysia
            <span> <a href="#" class="countries-dropdown" data-target="MalaysiaDropdown">︾</a></span>
          </a>
          <div class=" sub-dropdown-content" id="MalaysiaDropdown">
            <a href="/blog-categories/penang">Penang</a>
          </div>

          <a href="/blog-categories/philippines" class="">Philippines 
            <span> <a href="#" class="countries-dropdown" data-target="{{Philippines}}"></a></span>
          </a>
          <div class=" sub-dropdown-content" id="{{Philippines}}">
            <a href="/blog-categories/"></a>
          </div>

          <a href="/blog-categories/new-zealand" class="">New Zealand 
            <span> <a href="#" class="countries-dropdown" data-target="{{NewZealand}}"></a></span>
          </a> 

          <div class=" sub-dropdown-content" id="{{NewZealand}}">
            <a href="#"></a>
          </div>
          
          <!-- Add similar links for other countries -->
        </div>
      </div>
      <a href="/blog-categories/blogs">All</a>
      <a href="/blog-categories/travel">Travel</a>
      <a href="/blog-categories/van-life">Van Life</a>
      <a href="/blog-categories/life-hacks">Life Hacks</a>
      
    </div>
  </div>

</section>

  <!-- Add similar divs for other countries -->



<script>
  document.addEventListener("DOMContentLoaded", function() {
    const countriesDropdowns = document.querySelectorAll(".countries-dropdown");
    countriesDropdowns.forEach(function(dropdown) {
      dropdown.addEventListener("click", function(event) {
        event.preventDefault();
        const targetId = this.getAttribute("data-target");
        const targetDropdown = document.getElementById(targetId);
        // Hide other sub-dropdowns
        document.querySelectorAll(".sub-dropdown-content").forEach(function(el) {
          if (el.id !== targetId) {
            el.style.display = "none";
          }
        });
        if (targetDropdown) {
          targetDropdown.style.display = (targetDropdown.style.display === "block") ? "none" : "block";
        }
      });
    });
  });
</script>

{{content}}