---
layout: default
---
<style>
    .blog-background-color
      {background-color: {{page.colors.background-color}};}

    .blog-hover-overlay:hover 
     {background-color: {{page.colors.blog-hover-overlay-color}};}

    .bump 
     {
     background-color: {{page.colors.blog-title-card-color}};
     border-top: solid 4px {{page.colors.blog-title-card-border-color}};
     border-left: solid 4px {{page.colors.blog-title-card-border-color}};
     }
    
    .border-top
    {
    border-top: 1px solid {{page.colors.categories-color}};  
    }

    .border-bottom
    {
    border-bottom: 1px solid {{page.colors.categories-color}};  
    }
    
    p
    {
    font-family: {{page.fonts.text-font}};
    color: {{page.colors.text-color}};
    }
  
        
    h2 
    {
    font-size: 3rem;
    font-family: {{page.fonts.heading-font}};
    color: {{page.colors.heading-color}};
    }
  
    h3 
    {
    font-size: 2rem;
    font-family: {{page.fonts.subheading-font}};
    color: {{page.colors.subheading-color}};
    }
    
    h5
    {
    font-size: 2rem;
    font-family: {{page.fonts.cta-font}};
    }

    .blog-hover-overlay:hover
    {
    color: {{page.colors.cta-color}};
    }
    
    .blog-nav p
    {
    font-size: 1.3rem;
    font-family: {{page.fonts.categories-font}};
    color: {{page.colors.categories-color}};
    }
    
     .blog-nav a
    {
    font-size: 1.3rem;
    padding-left: 15px;
    padding-right: 15px;
    font-family: {{page.fonts.categories-font}};
    color: {{page.colors.categories-color}};
    }
    
    .blog-nav a:hover
    {color: {{page.colors.categories-hover-color}};}
    
    .blog-arrow
    {
    font-family: {{page.fonts.categories-font}};
    color: {{page.colors.categories-color}};
    }

    .categories p
    {
    font-size: 1.3rem;
    font-family: {{page.fonts.categories-font}};
    color: {{page.colors.categories-color}};
    }

    .categories a:hover 
    {color: {{page.colors.categories-hover-color}};}
    
    @media(max-width:576px) 
    {
    
      h3
      {
      font-size: 1.9rem;
      }

      .categories p 
      {
      font-size: 1rem;  
      }
      
    }

  </style> 
<section class="blog-background-color">
  <section class="grid padded-top">
    <h2 class="brown-text col-12 center padded">{{page.heading}}</h2>
  </section>

  <section class="grid-center border-top border-bottom category-padded center">
    <div class="col-12-center-middle blog-nav editable">
      <p><a href="/blog-categories/blogs.html"><strong><u>All </u></strong></a><strong> ● </strong><a href="/blog-categories/travel.html"><strong><u>Travel</u></strong></a><strong> ● </strong><a href="/blog-categories/van-life.html"><strong><u>Van Life</u></strong></a><strong> ● </strong><a href="/blog-categories/life-hacks.html"><strong><u>Life Hacks</u></strong></a><strong> ● </strong><a href="/blog-categories/south-africa.html"><strong><u>South Africa</u></strong></a>&nbsp;● <a href="/blog-categories/kwazulu-natal.html"><em>KwaZulu Natal</em></a>&nbsp; &nbsp; ●&nbsp; &nbsp;&nbsp;<em>Western Cape</em>&nbsp; &nbsp; ●&nbsp; &nbsp; Eastern Cape&nbsp; &nbsp; ●&nbsp; &nbsp; Northern Cape&nbsp; &nbsp; ●&nbsp; &nbsp; Gauteng&nbsp; &nbsp; ●&nbsp; &nbsp; &nbsp;Limpopo&nbsp; &nbsp; ●&nbsp; &nbsp; Mpumalanga&nbsp; &nbsp;●<a href="">&nbsp;<strong><u>Thailand</u></strong></a></p>
    </div>
    <p class="col-12 centered blog-arrow">⟵</p>
  </section>

{{content}}</section>