


/* FONTS  */
/* @font-face 
  {
  font-family: Cyrene;
  src: url(../../../fonts/cyrene.otf);
  }

@font-face 
  {
  font-family: La Obrige;
  src: url(../../../fonts/la-obrige.otf);
  }

@font-face 
  {
  font-family: Lineal Simples;
  src: url(../../../fonts/lineal-simples.ttf);
  }

@font-face 
  {
  font-family: Maglony;
  src: url(../../../fonts/maglony.otf);
  }

@font-face 
  {
  font-family: Mak;
  src: url(../../../fonts/mak.otf);
  }

@font-face 
  {
  font-family: lovelace;
  src: url(../../../fonts/lovelace.ttf);
  }

@font-face 
  {
  font-family: Misto;
  src: url(../../../fonts/misto.ttf);
  }


@font-face 
  {
  font-family: Dream Avenue;
  src: url(../../../fonts/dream-avenue.otf);
  } */

/* @font-face 
  {
    font-family: Brushwell;
    src: url(../../../fonts/brushwell.otf);
  } */

body {

  font-family: 'Cardo', sans-serif;
    
}

* {
    font-family: 'Cardo';
}

input,
textarea,
select,
option,
label,
a
  {
    font-family: 'Cardo', sans-serif;
  }

/* end of fonts */

/* colors */

:root {
  --moss: #2C3424;
  --cypress: #4C583E;
  --cedar: #959581;
  --olive: #768064;
  --aloe: #DADED8;
}